<center>
<h3>Enter new trade information</h3>
<br><br>
<form ng-submit = "addRecord()">
    Date: <input type="date" ng-model='date' required/><br><br>
    Name: <input type="text" ng-model='name' required/><br><br>
    Item: <input type="text" ng-model='item' required/><br><br>
    Quantity: <input type="number" ng-model='quantity' required/><br><br>
    Rate: <input type="text" ng-model='rate' required/><br><br>
    Amount: <input type="text" ng-model='amount' required/><br><br>
    <input type="submit" value="Submit" />
</form>
</center>      
    
    